<div class="alert alert-success">
    <p>Sipariş Başarıyla Tamamlandı</p>
    <p>@ViewBag.OrderId nolu sipariş başarıyla alınmıştır</p>
</div>

<a asp-action="Index" asp-controller="Home">Anasayfa</a>